/* 
    Created on : Oct 30, 2018, 8:29:51 PM
    Author     : Samantha Sukash
*/


/* Color Scheme -
    #ff6978 bright coral main color
    #96E6B3 bright green accent color
`   #565656 blackboard charcoal grey
    #0D1321 super dark navy
    #F9F5ED offwhite background
    #E0DCD5 lightgrey background
    


/* BODY, PAGE & GRID    */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    color: #565656;
    background: #F9F5ED;
    font-weight: 400;
}

.page {
    margin: 0 auto;
    background: #F9F5ED ;
    outline: 1px solid lightgrey;
    /* Grid layout info*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 10px;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

.page > * {
    padding: 0px;
}


/*  HEADER & NAVIGATION */
header {
    grid-area: header;
    background: #F9F5ED ;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    /*high z index to make sure fixed position keeps it on top of everything else*/
    z-index: 999;
    display: flex;
    
    
}

.headerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
    line-height: 35px;
    /*border-bottom: 1px solid lightgrey;*/
    margin-top: 1em;
}

.promo {
    background: #96E6B3;
    color: #F9F5ED;
}
.promocode {
    color: #565656;
}

.logo {
    line-height: 35px;
}

.logotext {
    font-family: 'Playball', cursive !important;
    font-size: 35px !important;
    padding-top: 12px;
    letter-spacing: -1px;
    font-weight: 300;
    color: #565656;
    
}

.burger-menu {
    position: absolute !important;
    top: -9999px !important;
    right: -9999px !important;
}


.burger-menu-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5em;
    margin-top: .4em;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.burger-menu-label span,
.burger-menu-label span::before,
.burger-menu-label span::after {
    display: block;
    background: #565656;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.burger-menu-label span::before,
.burger-menu-label span::after {
    content: '';
    position: absolute;
}

.burger-menu-label span::before {
    bottom: 7px;
}

.burger-menu-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0px;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
}

nav ul {
    margin: 0;
    right: 0;
    margin-top: 0px;
    list-style: none;
    background: #F9F5ED;
    width: 100%;
}

nav li {
    padding: 0px;
}

nav a {
    font-family: 'Fira sans', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

nav a:hover {
  color: #ff6978;
}

.burger-menu:checked ~ nav {
  transform: scale(1,1);
}





h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px !important;
    color: #F9F5ED;
    display: inline !important;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px !important;
    color: #0D1321;
    display: inline !important;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 35px !important;
    color: #0D1321;
    padding: 10px !important;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px !important;
    color: #0D1321;
    padding: 10px !important;
    line-height: 30px;
}

h5 {
    font-family: 'fira sans', sans-serif;
    font-size: 30px !important;
    color: #ff6978;
    padding: 10px !important;
    transform: uppercase;
}

/* Specific to index.php */
.maincontent_np_white .diam {
    line-height: 40px;
    color: #565656;
}
.maincontent_np_green .diam {
    line-height: 40px;
    color: #565656;
}

.maincontent_np_white .mission {
    color: black;
    font-size: 20px !important;
    margin-bottom: 10px !important;
    padding: 10px;
}

.maincontent_np_white .lessimprtnt {
    color: #565656;
    font-size: 16px !important;
    padding: 10px !important;
    margin-bottom: 20px;
}

p {
    color: #565656;
    font-size: 14px!important;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #96E6B3;
}

a:hover {
    color: #ff6978;
}


/* MAIN CONTENT AREA & TEXT FORMATTING      */  
main {
    text-align: center;
    grid-area: main;
    
}

.maincontainer {
    padding: 0px;
    text-align: center;
}

.maincontent {
    color: #0f2633;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}


.maincontent_np {
    background: #ff6978;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent_np_white {
    background: #F9F5ED;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent_np_green {
    background: #96E6B3;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOR BOXES.PHP */
.boxcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.boxcontainer > br
{
  width: 100%;
  content: '';
}

.maincontainer hr {
    width: 96%;
    color: #E0DCD5;
}


/* RESPONSIVE DIVS FOR BOXES.PHP */
.flex_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.fadeImg {
    margin: 5px;
    transition: all 1s;
    width: 350px;
    align-self: center;
    background-color: #F9F5ED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.fadeImg:hover {
    transform: scale(1.1)
}


div.FIcontainer {
    text-align: center;
    padding-bottom: 10px;
}

.fadeImg p {
    
}

.boxtext {
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), #ff6978 85%, rgba(255, 255, 255, 0));
    color: #565656;
    display: block;
    font-weight: bold;
    font-size: 22px!important;
    margin-bottom: 10px;
    
}

.boxprice {
    color: #565656;
    font-size: 18px!important;
    display: block;
    padding: 10px;
}

/* SUBSCRIPTION FLOATING DIV FOR INDEX.PHP */
.indexbox {
    color: #565656;
    padding: 20px;
    background-color: #F9F5ED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    max-width: 70%;
    align-self: center;
}

.indexbox h1 {
    color: #0D1321;
    font-size: 35px;
    padding: 10px;
    line-height: 45px;
}

.indexbox p {
    margin: 10px;
    padding: 10px;
    line-height: 20px;
}

.index_small {
    font-size: 12px !important;
    font-family: 'Fira sans', sans-serif;
    color: #565656;
    font-weight: 400;
}

.indexcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 50px;
}

.indexcontainer > br
{
  width: 100%;
  content: '';
}

/* used for nested grid systems inside of main div sections. */
.fournested {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.fournested p {
    border: 1px solid white;
    padding: 20px;
    margin: 0px;
}


/* USED IN INDEX.PHP 'WHAT IS HELLOW SEASON SECTION' */
.threenested {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.threenested div {
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
    text-align: center;
    display: inline;
}

.onenested_trial {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.onenested_trial div {
    border: 1px solid #ff6978;
    color: #565656;
    padding: 20px;
    margin-top: 10px;
    display: inline;
}

.twonested {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.twonested div {
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.onenested {
    margin-top: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.onenested div {
    border: 1px solid white;
    padding: 20px;
    margin-top: 10px;
    display: inline;
}

/* _box is specific to boxes.php */
.onenested_box {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.onenested_box div {
    border: 1px solid #ff6978;
    border-radius: 5px;
    color: #565656;
    padding: 20px;
    margin-top: 10px;
    display: inline;
}

/* _contact is specific to index.php */
.onenested_contact {
    background: #E0DCD5;
    color: #0D1321;
    padding: 20px;
}

.twonested_i1_inner div {
    padding: 10px;
}


.threenested_i1 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.threenested_i1 div {
    padding: 10px;
    margin: 0px;
    background: #f2efea;
    display:block;
}

.twonested_s1 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.twonested_s1 div {
    padding: 10px;
    margin: 0px;
    display:inline;
}

/* BUTTON STYLING */
.index_button {
    padding: 15px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin: 4px 2px;
    color: #EDEAE5;
    border-radius: 10px;
    box-shadow: 0 1px 1px #01353a;
    background-image: linear-gradient(to bottom,  #1a3538, #022670);
}

.contact_button {
    padding: 12px 22px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin: 4px 2px;
    color: #EDEAE5;
    border-radius: 10px;
    box-shadow: 0 1px 1px #01353a;
    background-image: linear-gradient(to bottom,  #1a3538, #022670);
}


/* FORM + SUBMIT BUTTON ON INDEX PAGE */
input[type=submit].trial {
    background-color: #565656;
    color: #F9F5ED;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'fira sans', sans-serif;
    box-shadow: 0 1px 1px #565656;
    width: 40%;
}

input[type=submit] .trial:hover {
    transform: skew(-10deg);
}

input[type=text].trial, select.trial, textarea.trial {
    width: 40%;
    height: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: inline;
}

input[type=submit] {
    background-color: #96E6B3 ;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'fira sans', sans-serif;
    box-shadow: 0 1px 1px #565656;
}

input[type=submit]:hover {
    transform: skew(-10deg);
}

input[type=text], select, textarea {
    width: 100%;
    height: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form {
    width: 100%;
    color: #565656;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


/* IMAGE RESIZERS */

.singleImg {
    width: 100%;
    height: auto;
    text-align: center;
}

.i1icons {
    border: 13px solid #d3ede5;
    border-radius: 40px;
    background: #d3ede5;
    margin-bottom: 10px;
}


/* FOOTER   */
footer {
    text-align: center;
    grid-area: footer;
    background: #F9F5ED;
    color: black;
}

.footer_content {
    padding: 10px;
    color: #565656;
}

.footer_links {
    
}


/* RESPONSIVE GRID SYSTEM   */
@media all and (max-width: 760px){
    .page
    {
        margin: 0 auto;
        background: #F9F5ED;
        /* Grid layout info*/
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(80px, auto);
        grid-gap: 0px;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer";
    }
    
    .maincontainer, .maincontent, .maincontent_np {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        padding: 0px;
    }
    
    .onenested {
        padding: 10px;
        margin-top: -10px;
    }
    
    h1, h2, h3, h4, h5, .index_button, p {
        white-space: pre-line;
        text-align: center;
    }
    
    
    
}
    

/* RESPONSIVE NAV MENU */
@media all and (min-width: 800px) {
    
    /* RESPONSIVE FULL MENU */
    header {
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    
    .burger-menu-label {
        display: none;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        padding: 0px;
    }

    nav li {
        margin-left: 2.5em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    
    h1, h2, h3, h4, h5, .index_button, p {
        white-space: pre-line;
        text-align: center;
    }

}

@media all and (max-width: 579px) {

    /* move burger menu down a little when the menu is 560px or less.*/
    
    
    form {
        width: 100%;
        color: #026670;
        font-family: 'oxygen', sans-serif;
        white-space: pre-line;
        box-sizing: border-box;
    }
    
    .onenested {
        padding: 10px;
        margin-top: -3px;
    }
    
    /* RESPONSIVE IMAGE GALLERY FOR INDEX */
    .flex_imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fadeImg {
        margin: 5px;
        transition: all 1s;
        height: auto;
        width: 250px;

    }
    .fadeImg:hover {
        transform: scale(1.1)
    }
    
    
}


/* to fix the contact form issue. */
@media all and (max-width: 740px) {

    /* move burger menu down a little when the menu is 560px or less.*/
    
    form {
        width: 100%;
        color: #026670;
        font-family: 'oxygen', sans-serif;
        white-space: pre-line;
        box-sizing: border-box;
    }
}
   
